.navbar {
  background: #333;
  margin-bottom: 3.5rem;
}

.logo {
  width: 120px;
  height: 50px;
  background: url(../../Images/logo.png) center/cover no-repeat;
}

.links.active {
  color: #fff;
  transition: all 0.2s linear;
}

@media (max-width: 600px) {
  .logo {
    width: 90px;
    height: 40px;
    background: url(../../Images/smalllogo.png) center/contain no-repeat;
  }
  .navbar-links {
    position: absolute;
    top: 30%;
    left: 20%;
  }
  .navbar-nav {
    height: 110px;
  }
  .navLink {
    font-size: 0.7rem;
  }
}
